<template>
    <div>
        <Input @submit="fetchTodo" :error="error" :loading="isLoading" :arrayCities="arrayCities"/>
        <v-expand-x-transition>
            <Card :card="card" v-show="cardVisible"/> 
        </v-expand-x-transition>   
        
    </div>
</template>

<script>
import Card from "@/components/Card.vue"
import Input from "@/components/Input.vue"

const API_KEY = '3b489840496d91705e21da6d6a8c0259'
const BASE_URL = 'https://api.openweathermap.org/data/2.5/'

export default {
    components: {
        Input,
        Card
    },
    data: () => ({
        card: {},
        error: {},
        isLoading: false,
        cardVisible: false,
        arrayCities: [],
    }),
    mounted() {
        if(localStorage.getItem('arrayCities')) {
            this.arrayCities = JSON.parse(localStorage.getItem('arrayCities'))
        }
    },
    methods: {
        async fetchTodo(city) {
            const endpoint = `${BASE_URL}weather?q=${city}&appid=${API_KEY}`
            this.isLoading = true;
            try {
                const {data: card} = await this.axios.get(endpoint);
                this.card = card;
                this.cardVisible = true
                if(!this.arrayCities.includes(this.card.name)) {
                    this.arrayCities.push(this.card.name)
                }
                this.error = {};
                localStorage.setItem('arrayCities', JSON.stringify(this.arrayCities))
            } catch(e) {
                this.error = e.response.data;
                console.error(e);
            } finally {
                this.isLoading = false;
            }
        },
    }, 
}
</script>