<template>  
    <div>
        <v-container>
            <v-card 
                class="mx-auto"
                max-width="344" 
            >
                <v-card-title class="text-h3">
                    {{card.name}}
                </v-card-title>

                <v-card-subtitle 
                    class="text-h5"
                    v-if="card && card.weather"
                >
                    <span class="mr-5" v-text="weather"/>
                    <span v-text="temperature" />
                </v-card-subtitle>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                        icon
                        @click="show = !show"
                    >
                        <v-icon>{{ show ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
                    </v-btn>
                </v-card-actions>

                <v-expand-transition>
                    <div v-show="show">
                        <v-divider></v-divider>
                        <v-card-text class="d-flex flex-column" v-if="isAvailableMain">
                            <span v-text="`Температура: ${temperature}`" />
                            <span v-text="feel"/>
                            <span v-text="minTemperature"/>
                            <span v-text="maxTemperature"/>
                            <span v-text="humidity"/>
                        </v-card-text>
                    </div>
                </v-expand-transition>
            </v-card> 
        </v-container>
    </div>
</template>

<script>

const CELVIN = 273;

export default {
    data: () => ({
        show: false,
    }),
    props: {
        card: {
            type: Object,
            required: true
        },
    },
    computed: {
        isAvailableMain() {
            return this.card?.main;
        },

        temperature() {
            return `${Math.round(this.card.main.temp - CELVIN)}°С`;
        },

        feel() {
            return `Ощущается как: ${Math.round(this.card.main.feels_like - CELVIN)}°С`;
        },

        minTemperature() {
            return `Минимальная температура: ${Math.round(this.card.main.temp_min - CELVIN)}°С`;
        },

        maxTemperature() {
            return `Максимальная температура: ${Math.round(this.card.main.temp_max - CELVIN)}°С`;
        },

        humidity() {
            return `Влажность: ${this.card.main.humidity}%`;
        },

        weather() {
            return this.card.weather[0].main;
        }
    },
}
</script>

<style>

</style>