<template>
    <v-container class="d-flex justify-center mt-15">
        <v-col cols="4">
            <v-text-field
                v-model="city"
                label="City"
                outlined
                :error="isError"
                :error-messages="errorMessage"
                :loading="loading"
                v-click-outside="hideList"
                @click="isListVisible"
            >  
            </v-text-field>
            <v-expand-transition>
                <v-list 
                    color="grey lighten-5" 
                    class="list-cities mt-n5 overflow-y-auto" 
                    v-show="listVisible" 
                    style="max-height: 115px" 
                >
                    <v-list-item-group mandatory color="info">
                        <v-list-item 
                            v-for="nameCity in arrayCities" 
                            :key="nameCity" 
                            @click="setCity(nameCity)">{{nameCity}}
                        </v-list-item>
                    </v-list-item-group>
                </v-list>
            </v-expand-transition>
        </v-col>
        <v-btn 
            class="ma-5"
            color="info"
            :loading="loading"
            :disabled="isDisabled"
            @click="$emit('submit', city)"
        >
            Получить
        </v-btn>
    </v-container>
</template>

<script>
export default {
    props: {
        error: {
            type: Object,
            default: () => ({})
        },
        loading: Boolean,
        arrayCities: []
    },
    data() {
        return {
            city: "",
            listVisible: false,
            filteredCity: []
        }; 
    },
    methods: {
        setCity(city) {
            this.city = city
        },

        isListVisible() { 
            return this.listVisible = true
        },

        hideList()  {
            return this.listVisible = false
        },
    },
    computed: {
        isDisabled() {
            return !this.city.length || this.loading;
        },

        isError() {
            return !!Object.keys(this.error).length;
        },

        errorMessage() {
            if (!this.isError) {
                return ''
            }

            return `${this.error.cod}: ${this.error.message}`;
        },
    }
}
</script>

